.hero {
  display: grid;
  grid-template-rows: 1fr;
  gap: 48px;
  text-align: center;

  &__left {
    order: 2;
  }

  &__title {
    font-size: var(--fs-600);
    font-weight: var(--fw-bold);
    line-height: 42px;
  }

  &__subtitle{
    padding-top: var(--space-400);
  }

  &__btn {
    margin-top:  var(--space-500);
  }

  &__logo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 28px;
    padding-top: var(--space-700);

  }

  &__right {
    order: -1;
  }

  @media screen and (min-width: 768px)  {
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    grid-template-rows:  1fr;
    gap: 10px;
    text-align: left;

    &__left {
      order: 2;
    }
    &__right {
      order: 1;
    }

    &__title {
      margin-top: var(--space-600);
      margin-right: 50px;
    }

    &__btn {
      margin-top:  var(--space-300);
    }

    &__logo {
      margin-top:  0;
    }


  }
}
