.hero {

  margin-top: 35px;

  &__container {
    display: grid;
    grid-template-rows: 1fr;
    gap: 48px;
    text-align: center;
  }

  &__left {
    order: 2;
    margin-left: 16px;
    margin-right: 16px;


    @include keyframes(slide-in){
      from {
        transform: translateY(50%);
        opacity: 0;
      }
      to {
        opacity: 1;
        transform: translateY(0%);
      }
    }

    @include animate(slide-in, 2200ms);
  }

  &__title {
    font-size: var(--fs-600);
    font-weight: var(--fw-bold);
    line-height: 42px;
  }

  &__subtitle{
    padding-top: var(--space-400);
    font-weight: var(--fw-regular);
    font-size: var(--fs-400);
    color: var(--clr-neutral-600);
    line-height: 28px;
  }

  &__btn {
    margin-top:  var(--space-500);
  }

  &__logo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 28px;
    padding-top: var(--space-700);

    img {
      margin: 0 auto;
    }
  }

  &__right {
    order: -1;
  }

  @media screen and (min-width: 768px)  {


    &__title {
      margin-top: 0;
    }

    &__subtitle {
      font-size: var(--fs-500);
    }

    &__btn {
      margin-top:  var(--space-300);
    }

    &__logo {
      margin-top:  0;
    }
  }

  @media screen and (min-width: 800px)  {
    &__container {
      margin-left: 35px;
      margin-right: 35px;
      display: grid;
      grid-template-columns:  repeat(2, 1fr);
      grid-template-rows:  1fr;
     /* gap: 70px;*/
      text-align: left;
    }

    &__left {
      order: 1;

      @include keyframes(slide-in){
        from {
          transform: translateX(-100%);
        }
        to {
          transform: translateX(0%);
        }
      }

      @include animate(slide-in, 2200ms);
    }

    &__right {
      order: 2;

      @include keyframes(slide-out){
        from {
          transform: translateX(100%);
          opacity: 0;
        }
        to {
          opacity: 1;
          transform: translateX(0%);
        }
      }

      @include animate(slide-out, 2200ms);
    }
  }

  @media (min-width: 64em) {
    /* 1024 pixels */
    &__container {
      margin: 0 auto;
      width: 950px;
      gap: 65px;
    }

    &__title {
      margin-top: 120px;
      font-size: 60px;
      line-height: 60px;
    }

    &__subtitle {
      padding-top: 30px;
    }

    &__btn {
      margin-top: 40px;
    }

    &__logo {
      padding-top: 50px;
    }

    &__right {
      @include keyframes(slide-out){
        from {
          transform: translateX(100%);
          opacity: 0;
        }
        to {
          opacity: 1;
          transform: translateX(0%);
        }
      }
      @include animate(slide-out, 2200ms);

      picture {
        margin-left: 45px;
      }
    }
  }

  @media (min-width: 75em)  {
    &__container {
      width: 1100px;
      margin: 0 auto;
      gap: 50px;
    }

    &__title {
      font-size: var(--fs-primary-heading);
      line-height: 80px;
    }

    &__subtitle {
      margin-right: 70px;
    }

    &__right {
      picture {
        margin-left: 115px;
      }
    }
  }

  @media (min-width: 87em)  {
    &__container {
      width: 1250px;
      margin: 0 auto;
      gap: 55px;
    }

    &__title {
      font-size: var(--fs-primary-heading);
      line-height: 80px;
      margin-right: 75px;
    }

    &__subtitle {
      margin-right: 170px;
    }

    &__logo {
      padding-top: 135px;
    }
  }
}
