@mixin animate($animation,$duration){
  animation: $animation $duration;
}
/*ajout d'un delay*/
/*@mixin animate($animation,$duration, $delay: 0s){
  animation: $animation $duration;
}*/

@mixin keyframes($name){
  @keyframes #{$name}{
    @content;
  }
}

@mixin reset-list {
  list-style: none;
}

@mixin horizontal-list {
  @include reset-list;
}

nav ul {
  @include horizontal-list;
}


