.header[data-overlay]::before {
  content: "";
  position: fixed;
  height: 100vh;
  inset: 0;
  background-color: black;
  opacity: 0.6;
}

.header {
  width: 100%;
}

.navigation {
  /*font-size: var(--fs-nav);*/
  @media (max-width:64em) {
    position: fixed;
    background: var(--clr-neutral-500);
    top: 0;
    right: 0px;
    font-size: var(--fs-nav);
    display: none;
    padding-top: 55px;
    padding-left: 16px;
    padding-right: 16px;
    width: 240px;
    height: 100vh;

    @include keyframes(slide-out){
      from {
        transform: translateX(100%);

      }
      to {

        transform: translateX(0%);
      }
    }
    @include animate(slide-out, 550ms);


    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 25px 16px;
    }

    &__mobile {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    a {
      text-decoration: none;
      color: var(--clr-neutral-600);
      font-weight: var(--fw-regular);
    }

    &__logo {
      display: block;

      &--primary {
        display: none;
      }
    }

    &__mobile-toggle {
      display: none;
    }

    &[data-visible] {
      display: block;
    }

    &__mobile-toggle {
      display: block;
      position: sticky;
      top: 20px;
      right: 25px;
      cursor: pointer;
      background: transparent;
      border: 0;
      padding: 0.5em;
      z-index: 2;
    }

    &__mobile-toggle &__navigation__mobile-close {
      display: none;
    }

    &__dropdown {
      display: flex;
      flex-direction: column;
      /* gap: clamp(var(--size-500), 5vw, var(--size-700));*/
      font-weight: var(--fw-semi-bold);

      & li {
        margin-top: 15px;
      }

      a {
        text-decoration: none;
        color: var(--clr-neutral-600);
        font-size: var(--fs-400);
        font-weight: var(--fw-regular);
      }

      &-title {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      &-icon {
        margin-left: var(--space-400);
      }

      &-list {
        margin-left: var(--space-500);

        & a:hover, a:focus {
          color: var(--clr-neutral-700);
        }

        /*animation*/
        @include keyframes(slide-bottom){
          from {
            transform: translateY(-5%);
          }
          to {
            transform: translateY(0%);
          }
        }
        @include animate(slide-bottom, 400ms);
      }

      &-link {
        display: flex;
        flex-direction: row;
        align-items: center;


        img {
          margin-right: var(--space-300);
        }
      }
    }

    &__cta {
      display: flex;
      flex-direction: column;
      padding: 15px;
    }
  }

  /* Taille d'écran inférieure ou égale à 48em (1024 pixels) */
  @media (min-width: 64em) {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    margin: 0 auto;

    a {
      text-decoration: none;
      color: var(--clr-neutral-600);
      font-weight: var(--fw-regular);

      &:hover {
        color: var(--clr-neutral-700);
      }
    }

    &__logo {
      display: none;

      &--primary {
        display: block;
      }
    }

    &__mobile-toggle {
      display: none;
    }

    &__link {
      display: flex;
      flex-direction: row;
    }

    &__dropdown {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-left: 35px;

      &-title {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      &-icon {
        margin-left: 8px;
      }

      &-item{
        display: block;
        padding: 0 var(--space-400);
      }

       &-list{
         position: absolute;
         background: var(--clr-neutral-500);
         padding: 24px;
         border-radius: 10px;
         box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.15);
         left: -30px;

         &--company {
           left: 160px;
         }

         li{
           margin-top: 15px;
         }

         li:nth-child(1) {
           margin-top: 0;
         }

         /*animation*/
         /*animation*/
         @include keyframes(appear){
           from {

             opacity: 0.5;

           }
           to {
             opacity: 1;

           }
         }
         @include animate(appear, 250ms);
      }

      &-link {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
          margin-right: var(--space-300);
        }
      }

      &-list:hover{

      }

       &-list:hover {

      }
    }
  }

  @media (min-width: 75em)  {
    width: 1150px;
  }

  @media (min-width: 87em)  {
    width: 1400px;
  }
}


